<!--
  ~
  ~ bde-frontend
  ~ page-notfound.component.html
  ~
  ~ Created by Swano 19/07/19 20:59
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->

<div class="container-fluid bg-gray-100 p-5 min-vh-100">
  <div class="container justify-content-center text-white">
    <div class="card bg-gray-80">
      <h3 class="card-header plex-mono">Page introuvable (404)</h3>
      <div class="card-body">
        <p class="card-text">Ce que vous cherchez doit se trouver dans un autre château.</p>
        <button class="btn btn-primary" routerLink="/"><fa-icon icon="arrow-left"></fa-icon> Retour à l'accueil</button>
      </div>
    </div>
  </div>
</div>
