<!--
  ~
  ~ bde-frontend
  ~ infos-bde.component.html
  ~
  ~ Created by Swano 20/10/2019 13:55
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->

<div class="container-fluid bg-gray-90 text-white pt-4 pb-4" id="bde">
  <div class="container">
    <h2 class="productive-heading-05">Votre Bureau des étudiants</h2>
    <div class="row pt-3">
      <div class="col-lg-8">
        <h4>Un BDE c'est quoi ?</h4>
        <p class="col-lg-10 text-justify">
          Le bureau des étudiants, c'est une partie incontournable de ta vie étudiante au sein du département réseaux/télécoms.
          D'abord parce qu'on organise plein de soirées et d'évènements mais surtout parce que l'on vous aide pour vous intégrer dans le <strong>merveilleux monde</strong>
          des études supérieures !
          Vous pouvez nous contacter sur les réseaux ou nous retrouver <strong>dans le local pendant la pause de midi</strong>.
        </p>
      </div>
      <div class="col-lg-4" id="reseaux">
        <h4 class="mb-2">Sur les réseaux <fa-icon icon="users"></fa-icon></h4>
        <app-reseaux only="true"></app-reseaux>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-lg-8">
        <h4>Ou nous trouver ?</h4>
        <ul class="list-group list-group-horizontal-md text-primary">
          <li class="list-group-item">Bureau du BDE (D003)</li>
          <li class="list-group-item">Du lundi au vendredi</li>
          <li class="list-group-item">De 12h à 13h30 (horaires variables)</li>
        </ul>
      </div>
      <div class="col-lg-4">
        <figure class="figure mt-sm-2">
          <a href="https://fr.wikipedia.org/wiki/Linux" target="_blank" rel="noopener" class="link-neutral text-decoration-none">
          <img class="figure-img img-fluid rounded" alt="pingouin sur google image" resource="https://unsplash.com/photos/o3kTic4Ozo0" src="https://static.bdertgrenoble.fr/frontend/logoenvie.jpg">
          </a>
        </figure>
      </div>
    </div>
  </div>
</div>
