<!--
  ~
  ~ bde-frontend
  ~ header.component.html
  ~
  ~ Created by Swano 26/08/2019 17:50
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->

<div>
  <div *ngIf="Auth.upcoming_events.length">
    <app-next-event></app-next-event>
    <app-upcoming-events></app-upcoming-events>
  </div>
  <div *ngIf="!Auth.upcoming_events.length">
    <app-no-events></app-no-events>
  </div>
  <div class="container mt-3">
    <div class="text-center">
      <h1 role="heading" class="productive-heading-05">Bienvenue sur le site du BDE RT Grenoble !</h1>
    </div>
    <hr>
    <div  [classList]="urls.length >= 5 ? 'row mb-4': 'row'">
      <article class="col-lg-6">
        <section>
          <h3 class="plex-mono">Quésaco ?</h3>
          <p class="text-justify font-weight-light">
            Si tu es ici tu es sûrement en <span class="font-italic">Réseaux Télécoms</span>. Pas de panique tous va bien se passer !
          </p>
        </section>
        <section>
          <h4>Ici tu trouveras</h4>
          <ul>
            <li>La liste des <a routerLink="/events">évènements prévus</a> par l'équipe</li>
            <li>Les <a routerLink="/reseaux">réseaux sociaux</a></li>
            <li>Les news sur la section</li>
            <li>
              Vous pouvez aussi vous abonner aux notifications <a href="javascript:void(0)" (click)="Auth.ask_push()">push <fa-icon icon="paper-plane"></fa-icon></a>.
            </li>
          </ul>
        </section>
      </article>
      <div class="col-lg-6 border-left">
        <h4 class="plex-mono">Les news</h4>
          <ul class="list-group">
            <li class="list-group-item list-group-item-action" *ngFor="let url of urls">
              <a [href]="Auth.short_url + '/'+ url['short'] + '?ref=home'" [target]="url['new_window'] ? '_blank' : '_parent'" class="d-flex justify-content-between align-items-center">{{url['nom']}} <fa-icon icon="arrow-right"></fa-icon></a>
            </li>
            <li class="list-group-item list-group-item-action" *ngIf="!urls.length">
              Pas de news ¯\_(ツ)_/¯
            </li>
          </ul>
      </div>
    </div>
    <h4>Si tu as des questions n'hésite pas à nous contacter sur un de <a routerLink="reseaux">nos réseaux <fa-icon icon="users"></fa-icon></a>.</h4>
  </div>
</div>
