<!--
  ~
  ~ bde-frontend
  ~ event-summary.component.html
  ~
  ~ Created by Swano 20/10/2019 13:55
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->

<div class="container min-vh-100 p-3">

  <div class="alert alert-teal-30 mb-4 d-flex mt-3 container" *ngIf="loading || (!event_infos && !Auth.error)">
    <mat-spinner diameter="25"></mat-spinner><span class="pl-2"> Chargement...</span>
  </div>
  <!-- Si l'évent est lié à Facebook -->
  <div *ngIf="facebook && event_infos" class="text-center">

    <!-- Cover -->
    <img class="img-fluid" [src]="event_infos['facebook']['cover']['source']" [alt]="event_infos['facebook']['name']">
    <!-- Titre -->
    <div class="m-3">
      <span class="h1 d-lg-none d-xl-none">{{(event_infos['facebook']['name'].length > 45) ? event_infos['local']['titre'] : event_infos['facebook']['name']}}</span>
      <span class="display-1 d-none d-lg-block d-xl-block">{{(event_infos['facebook']['name'].length > 45) ? event_infos['local']['titre'] : event_infos['facebook']['name']}}</span>
    </div>
    <!-- Infos -->
    <ul class="list-unstyled mt-2 mt-3 pt-2 border-top">
      <li>
        <span class="h2">
          Le {{Auth.format_date_event(event_infos['facebook']['start_time'].substr(0, 22) + ':' +event_infos['facebook']['start_time'].substr(22, 24))}} de {{Auth.format_time_event(event_infos['facebook']['start_time'].substr(0, 22) + ':' +event_infos['facebook']['start_time'].substr(22, 24))}} à {{Auth.format_time_event(event_infos['facebook']['end_time'].substr(0, 22) + ':' +event_infos['facebook']['end_time'].substr(22, 24))}}
          </span>
      </li>
      <li class="border-bottom pb-2">
        <a mat-button [routerLink]="'/lieu/'+event_infos['local']['id_lieu']" class="link-neutral text-decoration-none font-italic h3">{{event_infos['facebook']['place']['name']}}</a>
      </li>
      <li class="pt-2" *ngIf="event_infos['local']['preinscription']">
        <span class="badge badge-danger">Pré-inscription auprès du BDE obligatoire</span>
      </li>
      <li class="border-bottom pb-2">
        <h4 *ngIf="event_infos['local']['prix']"><strong>{{event_infos['local']['prix']}}€</strong> par personnes</h4>
        <h4 *ngIf="!event_infos['local']['prix']">Évènement <strong>GRATUIT</strong></h4>
      </li>
      <li class="pt-2">
        <a mat-button class="link-neutral text-decoration-none h4" [disabled]="passed" [href]="'https://facebook.com/events/'+event_infos['local']['fb_id']" target="_blank"><fa-icon icon="check"></fa-icon> Participants : <span class="badge badge-success">{{event_infos['facebook']['attending_count']}}</span></a>
        <a mat-button class="link-neutral text-decoration-none h4" [disabled]="passed" [href]="'https://facebook.com/events/'+event_infos['local']['fb_id']" target="_blank"><fa-icon icon="star"></fa-icon> Interessés : <span class="badge badge-info">{{event_infos['facebook']['interested_count']}}</span></a>
      </li>
      <li class="border-bottom pb-2">
        <small class="text-muted" *ngIf="!passed">Redirection sur Facebook</small>
      </li>
      <li class="border-bottom pb-2 pt-2">
        <a role="button" mat-button href="http://redirect.univ-grenoble-alpes.fr/ADE_ETUDIANTS_IUT1" target="_blank" class="h4 link-neutral text-decoration-none">ADE IUT <fa-icon icon="calendar-day"></fa-icon></a>
        <a *ngIf="event_infos['local']['gmap']" role="button" mat-button [href]="'https://goo.gl/maps/' + event_infos['local']['gmap']" target="_blank" class="h4 link-neutral text-decoration-none">Google Maps <fa-icon icon="map-marked-alt"></fa-icon></a>
        <a *ngIf="event_infos['local']['fb_id']" role="button" mat-button [href]="'https://facebook.com/events/' + event_infos['local']['fb_id']" target="_blank" class="h4 link-neutral text-decoration-none">Facebook <fa-icon [icon]="['fab','facebook']"></fa-icon></a>
        <a *ngIf="event_infos['local']['spotify_id']" role="button" mat-button [href]="'https://open.spotify.com/playlist/' + event_infos['local']['spotify_id']" target="_blank" class="h4 link-neutral text-decoration-none">Playlist <fa-icon [icon]="['fab','spotify']"></fa-icon></a>
      </li>
      <li class="pt-2 pb-2 border-bottom" *ngIf="event_infos['local']['playlist']" >
        <button role="button" routerLink="/collab/login" class="btn btn-teal-40">Playlist collaborative <fa-icon icon="arrow-right"></fa-icon></button>
      </li>
      <li class="row mt-3">
        <ul class="list-unstyled col-lg-6">
          <li *ngIf="event_infos['linked'] && event_infos['linked'].length">
            <h3>Lié à :</h3>
            <ul class="list-unstyled">
              <li *ngFor="let linked of event_infos['linked']">
                <ul class="list-unstyled">
                  <li><h4><a [routerLink]="'/event/'+linked['id_event']">{{linked['titre']}}</a></h4></li>
                  <li *ngIf="linked['prix']">
                    <h5><strong>{{linked['prix']}}€</strong> par personnes</h5>
                  </li>
                  <li *ngIf="!linked['prix']">
                    Évènement <strong>GRATUIT</strong>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <div [classList]="(event_infos['linked'] && event_infos['linked'].length) ? 'col-lg-6' : 'col-lg-12'">
          <p style="white-space: pre-wrap;" class="text-justify" [innerHTML]="event_infos['facebook']['description']"></p>
        </div>
      </li>
    </ul>
  </div>


  <!-- Si l'évent n'est pas lié à Facebook -->
  <div *ngIf="!facebook && event_infos" class="text-center justify-content-center">

    <div class="m-3">
      <span class="h1 d-lg-none d-xl-none">{{event_infos['local']['titre']}}</span>
      <span class="display-1 d-none d-lg-block d-xl-block">{{event_infos['local']['titre']}}</span>
    </div>
    <ul class="list-unstyled mt-2 mt-3 pt-2 border-top">
      <li>
          <span class="h2">
            Le {{Auth.format_date(event_infos['local']['date'])}} à {{Auth.format_time_event(event_infos['local']['date'])}}
          </span>
      </li>
      <li class="border-bottom pb-2 pt-2">
        <a mat-button [routerLink]="'/lieu/'+event_infos['local']['id_lieu']" class="link-neutral font-italic text-decoration-none h3">{{event_infos['local']['nom_lieu']}}</a>
      </li>
      <li class="pt-2">
        <span [classList]="(event_infos['local']['preinscription']) ? 'badge badge-danger' : 'badge badge-info'">{{(event_infos['local']['preinscription']) ? 'Pré-inscription auprès du BDE obligatoire': 'Pré-inscription recommandée'}}</span>
      </li>
      <li class="border-bottom pb-2">
        <h4 *ngIf="event_infos['local']['prix']"><strong>{{event_infos['local']['prix']}}€</strong> par personnes</h4>
        <h4 *ngIf="!event_infos['local']['prix']">Évènement <strong>GRATUIT</strong></h4>
      </li>
      <li class="pt-2 pb-2 border-bottom">
        <a role="button" mat-button href="http://redirect.univ-grenoble-alpes.fr/ADE_ETUDIANTS_IUT1" target="_blank" class="h4 link-neutral text-decoration-none">ADE IUT <fa-icon icon="calendar-day"></fa-icon></a>
        <a *ngIf="event_infos['local']['gmap']" role="button" mat-button [href]="'https://goo.gl/maps/' + event_infos['local']['gmap']" target="_blank" class="h4 link-neutral text-decoration-none">Google Maps <fa-icon icon="map-marked-alt"></fa-icon></a>
        <a *ngIf="event_infos['local']['spotify_id']" role="button" mat-button [href]="'https://open.spotify.com/playlist/' + event_infos['local']['spotify_id']" target="_blank" class="h4 link-neutral text-decoration-none">Playlist <fa-icon [icon]="['fab','spotify']"></fa-icon></a>
      </li>
      <li class="pt-2 pb-2 border-bottom" *ngIf="event_infos['local']['playlist']" >
        <button role="button" routerLink="/collab/login" class="btn btn-teal-40">Playlist collaborative <fa-icon icon="arrow-right"></fa-icon></button>
      </li>
      <li class="p-2 row">
        <ul class="list-unstyled col-lg-6">
          <li *ngIf="event_infos['linked'] && event_infos['linked'].length">
            <h3>Lié à :</h3>
            <ul class="list-unstyled">
              <li *ngFor="let linked of event_infos['linked']">
                <ul class="list-unstyled">
                  <li><h4><a [routerLink]="'/event/'+linked['id_event']">{{linked['titre']}}</a></h4></li>
                  <li *ngIf="linked['prix']">
                    <h5><strong>{{linked['prix']}}€</strong> par personnes</h5>
                  </li>
                  <li *ngIf="!linked['prix']">
                    Évènement <strong>GRATUIT</strong>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <div [classList]="(event_infos['linked'] && event_infos['linked'].length) ? 'col-lg-6' : 'col-lg-12'">
          <p style="white-space: pre-wrap;" class="text-justify" [innerHTML]="event_infos['local']['description']"></p>
        </div>
      </li>
    </ul>
  </div>
  <div class="row" *ngIf="facebook">
    <div class="col-lg-5">
      <a (click)="Auth.go_back()" href="javascript:void(null)" class="btn btn-secondary btn-block text-decoration-none"><fa-icon icon="arrow-left"></fa-icon> Retour</a>
    </div>
    <div class="col-lg-7 text-right">
      <!-- Si lié à FB, alors affichage de quand les données ont été mise en cache -->
      <span class="text-muted">En cache depuis : {{(cache) ? Auth.format_date_heure(updatedAt) : 'maintenant'}}</span>
    </div>
  </div>
  <div *ngIf="!facebook">
    <a (click)="Auth.go_back()" href="javascript:void(null)" class="btn btn-secondary text-decoration-none"><fa-icon icon="arrow-left"></fa-icon> Retour</a>
  </div>

</div>
