<!--
  ~
  ~ bde-frontend
  ~ first-login.component.html
  ~
  ~ Created by Swano 21/08/2019 13:41
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->

<div class="container-fluid bg-gray-100">
  <div class="container pt-5 pb-5">
    <div class="card bg-gray-80 text-white p-4">
      <h3 class="card-header">Conditions d'utilisation</h3>
      <div class="card-body">
        <h4>Merci d'accepter les conditions d'utilisation avant de continuer.</h4>
        <ul class="list-unstyled">
          <li>
            Les conditions générales d'utilisations sont disponibles <a href="https://static.bdertgrenoble.fr/frontend/cgu_bdertgrenoble.pdf" target="_blank">ICI <fa-icon icon="external-link-alt"></fa-icon></a>
          </li>
          <li>
            Les mentions légales sont disponibles <a routerLink="/legal-notice" target="_blank">ICI <fa-icon icon="external-link-alt"></fa-icon></a>
          </li>
          <li>
            Le registre RGPD est disponible <a href="https://static.bdertgrenoble.fr/frontend/registre_rgpd.pdf" target="_blank">ICI <fa-icon icon="external-link-alt"></fa-icon></a>
          </li>
          <li>
            <table class="mt-3 table table-dark">
              <thead>
              <tr class="text-center">
                <th colspan="2">
                  Liste des cookies utilisés
                </th>
              </tr>
              <tr>
                <th>Nom</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="plex-mono">front_id</td>
                <td>Permet de vous authentifier auprès du serveur.</td>
              </tr>
              </tbody>
            </table>
          </li>
        </ul>
        <div class="btn-group">
          <button class="btn btn-secondary" (click)="Auth.disconnect()"><fa-icon icon="arrow-left"></fa-icon> Déconnexion</button>
          <button class="btn btn-primary" (click)="accept_tos()">J'accepte <fa-icon icon="arrow-right"></fa-icon></button>
        </div>
      </div>
    </div>
  </div>
</div>
