/*
 *
 * bde-frontend
 * app.component.css
 *
 * Created by Swano 18/08/2019 22:28
 *
 * Copyright (C) Baptiste PELLARIN - All Rights Reserved
 * 	Unauthorized copying of this file, via any medium is strictly prohibited
 * 	Proprietary and confidential
 * 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
 *
 */
.sidenav {
  width: 200px;
  overflow: hidden;
}
