<!--
  ~
  ~ bde-frontend
  ~ app.component.html
  ~
  ~ Created by Swano 18/08/2019 22:28
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->
<app-toolbar></app-toolbar>
<mat-sidenav-container [hasBackdrop]="true" style="background-color: #FFF;">
  <mat-sidenav fixedTopGap="40" [fixedInViewport]="true" class="sidenav" mode="over" [opened]="Auth.sidenav" (opened)="Auth.sidenav = true" (closed)="Auth.sidenav = false">
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <main>
    <app-error></app-error>
    <router-outlet></router-outlet>
  </main>
  <app-footer></app-footer>
</mat-sidenav-container>
