<!--
  ~
  ~ bde-frontend
  ~ no-events.component.html
  ~
  ~ Created by Swano 28/07/19 22:06
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->
<div class="container text-white">
  <div class="card bg-gray-90">
    <div class="card-body">
      <h5 class="card-title">Aucun évènement prévu</h5>
      <p class="card-text">On ne devrait pas tarder à vous présenter un nouvel évènement</p>
      <div class="btn-group">
        <button (click)="Auth.ask_push()" class="btn btn-primary">Être notifié ! <fa-icon icon="paper-plane"></fa-icon></button>
        <button [routerLink]="'/events'" class="btn btn-secondary">Tous les évènements <fa-icon icon="arrow-right"></fa-icon></button>
      </div>
    </div>
  </div>
</div>
