/*
 *
 * bde-frontend
 * no-events.component.css
 *
 * Created by Swano 18/07/19 21:48
 *
 * Copyright (C) Baptiste PELLARIN - All Rights Reserved
 * 	Unauthorized copying of this file, via any medium is strictly prohibited
 * 	Proprietary and confidential
 * 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
 *
 */

.no-event {
  height: 50vh;
  background: #fa983a;
}

