<!--
  ~
  ~ bde-frontend
  ~ hackers.component.html
  ~
  ~ Created by Swano 28/07/19 22:06
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->

<div class="container-fluid hackers min-vh-100">
  <div class="container pt-5 pb-4">
    <div class="card text-white bg-gray-90 p-3">
      <div class="card-header">
        <h4>CTF du futur.</h4>
        <code class="plex-mono">QnJhdm8gdHUgZXMgdW4gdnJhaSBoYWNrZXIsIHVuIGRpZXUgZGUgbCdpbmZvcm1hdGlxdWUuIExhIE5TQSwgRWxvbiBNdXNrIGV0IGxlIHNlcnZpY2UgaW5mb3JtYXRpcXVlIGR1IGx5Y8OpZSBSZW7DqSBNdWxvdCB2ZXVsZW50IGTDqWrDoCB0ZSByZW5jb250cmVyLy4v</code>
      </div>
      <div class="card-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe rel="noopener" class="embed-responsive-item" frameborder="0" src="https://www.youtube.com/embed/U0FjW8ootus" allow="encrypted-media;" allowfullscreen></iframe>
        </div>
        <ul class="list-unstyled">
          <li>
            <div class="row mt-2">
              <div class="col-lg-6">
                <img class="img-fluid" src="https://static.bdertgrenoble.fr/frontend/hackers/hackerman.jpg" alt="HACKERMAN!!1">
                <img class="img-fluid" src="https://static.bdertgrenoble.fr/frontend/hackers/MORERAM.jpg" alt="DOWNLOAD SOME RAM">
              </div>
              <div class="col-lg-6">
                <img class="img-fluid" src="https://static.bdertgrenoble.fr/frontend/hackers/hacker.png" alt="HACKERMAN!!1">
                <img class="img-fluid" src="https://static.bdertgrenoble.fr/frontend/hackers/rickandmorty4bigPP.jpeg" alt="Rick and Morty required High IQ">
              </div>
            </div>
          </li>
          <li>
            <img class="img-fluid mt-2" src="https://static.bdertgrenoble.fr/frontend/hackers/freevbucks.jpg" alt="Free vBuck OMG">
            <img class="img-fluid mt-2" src="https://static.bdertgrenoble.fr/frontend/hackers/spanr.jpg" alt="spanr">
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <ul class="list-unstyled">
          <li>
            Tous ça pour dire:
          </li>
          <li>
            Si tu trouves un bug/faille dans le s̸̢̙̯̰̓͂y̸̧̧̨̨͖̰̫̩̣̮̅̎̊s̷͇̹̣͊̎́̍͐͌̀è̷̛̹͕̞̗̗̖̳̪̓̔͑̈́̄͐̾̏̀͜m̴̧̘̲̲̤̩̍͊͊̚e̶͙̰̖͑̎͒̔ envoie-moi un <a href="https://m.me/bde.rt.grenoble" target="_blank">DM <fa-icon icon="paper-plane"></fa-icon></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
