<!--
  ~
  ~ bde-frontend
  ~ sidenav.component.html
  ~
  ~ Created by Swano 15/08/2019 21:47
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->

<mat-nav-list role="navigation">
  <a mat-list-item routerLink="/events">Tous les évènements</a>
  <a mat-list-item routerLink="/bde">Qui sommes-nous?</a>
  <a mat-list-item routerLink="/partenaires">Les partenaires</a>
  <a mat-list-item routerLink="/reseaux">Sur les réseaux</a>
  <a mat-list-item routerLink="/playlists">Playlists</a>
  <hr>
  <a mat-list-item routerLink="/">Accueil</a>
</mat-nav-list>
