<!--
  ~
  ~ bde-frontend
  ~ home.component.html
  ~
  ~ Created by Swano 19/07/19 20:59
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->
<div *ngIf="!Auth.error || Auth.error.success" class="bg-white pt-5">
  <app-header></app-header>
</div>
<app-infos-bde></app-infos-bde>
