<!--
  ~
  ~ bde-frontend
  ~ events-summary.component.html
  ~
  ~ Created by Swano 18/07/19 21:48
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->

<div class="container-fluid bg-white text-gray-90 pt-4 pb-4">
  <div class="container">
    <h1>Les évènements</h1>
    <hr>
    <h4>à venir</h4>
    <table class="table table-responsive-lg">
      <thead class="bg-gray-10 text-secondary">
      <tr>
        <th>Évènement</th>
        <th colspan="2">Date</th>
      </tr>
      </thead>
      <tbody>
      <tr class="border-bottom-hint" *ngFor="let event of next_events; let i = index">
        <td><a [routerLink]="'/event/'+event.id_event" class="link-neutral text-decoration-none">{{event.titre}}</a></td>
        <td class="link-neutral text-decoration-none">{{Auth.format_date_heure(event.date)}}</td>
        <td><button [routerLink]="'/event/'+event.id_event" class="btn btn-primary btn-block">Voir <fa-icon style="vertical-align: middle" icon="arrow-right"></fa-icon></button></td>
      </tr>
      </tbody>
    </table>
    <hr>
    <h4>passés</h4>
    <table class="table table-responsive-lg">
      <thead class="bg-gray-10 text-secondary">
      <tr>
        <th>Évènement</th>
        <th colspan="2">Date</th>
      </tr>
      </thead>
      <tbody>
      <tr class="border-bottom-hint" *ngFor="let event of past_events; let i = index">
        <td><a [routerLink]="'/event/'+event.id_event" class="link-neutral text-decoration-none">{{event.titre}}</a></td>
        <td class="link-neutral text-decoration-none">{{Auth.format_date_heure(event.date)}}</td>
        <td><button [routerLink]="'/event/'+event.id_event" class="btn btn-secondary btn-block">Voir <fa-icon style="vertical-align: middle" icon="arrow-right"></fa-icon></button></td>
      </tr>
      </tbody>
    </table>
    <a (click)="Auth.go_back()" href="javascript:void(null)" class="col-6"><fa-icon icon="arrow-left"></fa-icon> Retour</a>
  </div>
</div>
