<!--
  ~
  ~ bde-frontend
  ~ summary-lieu.component.html
  ~
  ~ Created by Swano 05/08/19 22:39
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->

<div class="container min-vh-100">
  <div *ngIf="lieu_infos">
    <h1 class="d-lg-none d-xl-none mt-2">{{lieu_infos['nom']}}</h1>
    <span class="display-1 d-none d-lg-block d-xl-block">{{lieu_infos['nom']}}</span>

    <ul class="list-unstyled h3">
      <li>{{(lieu_infos['adresse']) ? lieu_infos['adresse'] : ''}} <a *ngIf="lieu_infos['gmap']" mat-button class="btn link-neutral text-decoration-none" [href]="'https://goo.gl/maps/' + (lieu_infos['gmap'])" target="_blank">Google Maps <fa-icon icon="map-marked-alt"></fa-icon></a></li>
    </ul>


    <hr>
    <h4>à venir</h4>
    <div class="table-responsive-lg">
      <table class="table">
        <thead class="bg-white">
        <tr>
          <th>Évènement</th>
          <th colspan="2">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="!next_events.length">
          <td colspan="3" class="font-italic text-muted">Que'tchi, walou, podzob.</td>
        </tr>
        <tr *ngFor="let event of next_events">
          <td><a class="link-neutral" [routerLink]="'/event/'+event.id_event">{{event.titre}}</a></td>
          <td>{{Auth.format_date_time_event(event.date)}}</td>
          <td><button [routerLink]="'/event/'+event.id_event" class="btn btn-primary btn-block">Voir <fa-icon style="vertical-align: middle" icon="arrow-right"></fa-icon></button></td>
        </tr>
        </tbody>
      </table>
    </div>

    <hr>
    <h4>passés</h4>

    <div class="table-responsive-lg">
      <table class="table">
        <thead class="bg-white">
        <tr>
          <th>Évènement</th>
          <th colspan="2">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf="!past_events.length">
          <td colspan="3" class="font-italic text-muted">Que'tchi, walou, podzob.</td>
        </tr>
        <tr *ngFor="let event of past_events" class="text-muted font-italic">
          <td><a class="link-neutral" [routerLink]="'/event/'+event.id_event">{{event.titre}}</a></td>
          <td>{{Auth.format_date_time_event(event.date)}}</td>
          <td><button [routerLink]="'/event/'+event.id_event" class="btn btn-primary btn-block">Voir <fa-icon style="vertical-align: middle" icon="arrow-right"></fa-icon></button></td>
        </tr>
        </tbody>
      </table>
    </div>
    <a (click)="Auth.go_back()" href="javascript:void(null)" class="btn btn-secondary text-decoration-none"><fa-icon icon="arrow-left"></fa-icon> Retour</a>
  </div>
  <div *ngIf="!lieu_infos && !Auth.error">
    <div class="alert alert-info">Chargement...</div>
  </div>

</div>



