<!--
  ~
  ~ bde-frontend
  ~ step2.component.html
  ~
  ~ Created by Swano 28/07/19 17:22
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->
<app-stepper [step]="2"></app-stepper>
<div class="container-fluid">
  <div class="container">
    <button class="btn btn-secondary mb-2" role="button" (click)="Auth.go_back()"><fa-icon icon="arrow-left"></fa-icon> Retour</button>
    <div class="table-responsive-lg">
      <table class="table" *ngIf="Auth.playlist_selected.length">
        <thead>
        <tr class="text-center bg-white">
          <th colspan="3">Votre sélection</th>
        </tr>
        </thead>
        <tbody class="bg-cool-gray-10 text-center">
        <tr *ngFor="let track of Auth.playlist_selected">
          <td>{{track['name']}}</td>
          <td>{{track['artist']}}</td>
          <td>
            <div class="btn-group">
              <a rel="noopener" class="btn link-neutral text-white text-decoration-none btn-teal-30" [href]="'https://open.spotify.com/track/'+track['id']" target="_blank">Spotify <fa-icon [icon]="['fab', 'spotify']"></fa-icon></a>
              <button class="btn btn-secondary" (click)="remove(track['id'])">Retirer <fa-icon icon="minus-circle"></fa-icon></button>
            </div>
          </td>
        </tr>
        </tbody>
        <tfoot class="bg-white text-center">
        <tr>
          <td colspan="3" *ngIf="!loading">
            <button *ngIf="!(Auth.count_votes >= 10) && !done" class="btn btn-teal-40 mt-3" (click)="send_votes()">Valider <fa-icon icon="check-circle"></fa-icon></button>
            <button *ngIf="done" class="btn btn-success" (click)="reset()">Voir les votes</button>
            <button *ngIf="(Auth.count_votes >= 10) && !done" class="btn btn-secondary" disabled>Plus de votes possible ({{Auth.count_votes}}/10)</button>
          </td>
          <td colspan="3" *ngIf="loading">
            <div class="alert alert-secondary d-flex">
              <mat-spinner diameter="25"></mat-spinner><span class="pl-2"> Votre vote est en cours de traitement par le serveur...</span>
            </div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
