<!--
  ~
  ~ bde-frontend
  ~ stepper.component.html
  ~
  ~ Created by Swano 14/07/19 17:41
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->
<div class="container">
  <ul class="nav justify-content-center nav-fill pt-2">
    <li class="nav-item mb-2">
      <button class="bg-teal-30 text-white btn" mat-button [matMenuTriggerFor]="user">{{Auth.user_infos.prenom}} {{Auth.user_infos.nom}}</button>
    </li>
    <li class="nav-item mb-2">
      <button class="bg-teal-30 text-white btn" mat-button [routerLink]="'/event/'+Auth.user_infos.id_event">{{Auth.user_infos.titre}}</button>
    </li>
    <li *ngIf="!back && !(Auth.count_votes >= 10)" class="nav-item mb-2">
      <button class="bg-teal-30 text-white btn" mat-button routerLink="/collab/votes">Votes ({{Auth.count_votes}}/10)</button>
    </li>
    <li *ngIf="back && !(Auth.count_votes >= 10)" class="nav-item mb-2">
      <button class="btn btn-secondary" mat-button role="button" (click)="Auth.go_back()"><fa-icon icon="arrow-left"></fa-icon> Retour</button>
    </li>
    <li *ngIf="(Auth.count_votes >= 10)" class="nav-item mb-2">
      <button class="btn bg-teal-30 text-white" mat-button role="button" disabled>Vous avez voté pour 10 morceaux</button>
    </li>
  </ul>
  <div class="text-center mt-2" *ngIf="!(Auth.count_votes >= 10) && !nowarning">
    <div class="btn btn-warning disabled"><strong><fa-icon icon="exclamation-circle"></fa-icon> Attention !</strong> Si vous quittez le site, vous perdrez la sélection en cours.</div>
  </div>
  <div class="text-center mt-2" *ngIf="(Auth.count_votes >= 10)">
    <div class="btn-block btn btn-teal-40"><strong><fa-icon icon="check-circle"></fa-icon></strong> Merci d'avoir participé !</div>
  </div>
  <ul class="list-unstyled">
    <li>
      <ul class="nav nav-tabs pt-2" *ngIf="step && !(Auth.count_votes >= 10)">
        <li class="nav-item">
          <button [disabled]="!(step >= 1)" routerLink="/collab/step1" [classList]="(step == 1) ? 'nav-link active' : 'nav-link'">Étape 1</button>
        </li>
        <li class="nav-item">
          <button [disabled]="!(step >= 2) && !Auth.playlist_selected.length" routerLink="/collab/step2" [classList]="(step == 2) ? 'nav-link active' : 'nav-link'">Étape 2</button>
        </li>
      </ul>
    </li>
    <li>
      <small class="text-teal-30"><strong><fa-icon icon="question-circle"></fa-icon></strong> Le BDE se réserve le droit de modifier la playlist finale.</small>
    </li>
  </ul>
  <mat-menu #user="matMenu">
    <button mat-menu-item disabled class="plex-mono">Inscription: {{Auth.user_infos.id_inscription}}</button>
    <button mat-menu-item disabled class="plex-mono">N° étu.: {{Auth.user_infos.no_etudiant}}</button>
    <div class="dropdown-divider"></div>
    <button mat-button (click)="Auth.disconnect()">Déconnexion</button>
  </mat-menu>
</div>
