<!--
  ~
  ~ bde-frontend
  ~ step1.component.html
  ~
  ~ Created by Swano 24/08/2019 15:45
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->
<app-stepper [step]="1"></app-stepper>
<div class="container-fluid">
  <div class="container">
    <h1>Proposer les titres</h1>
    <small class="text-muted" (click)="help =! help">Ajoutez {{10 - Auth.count_votes}} titres ou moins à votre sélection <a href="javascript:void(null)" class="text-link"><fa-icon icon="question-circle"></fa-icon></a></small>
    <p *ngIf="help">
      Pour vous permettre de participer à la playlist de la soirée votre BDE vous propose d'ajouter les morceaux de votre choix à la playlist.
    </p>
    <ol *ngIf="help">
      <li>Ajoutez des morceaux de musique à votre sélection en cliquant sur <button (click)="null" class="btn btn-primary">Ajouter <fa-icon icon="plus-circle"></fa-icon></button></li>
      <li>Validez votre sélection en cliquant sur <button class="btn btn-teal-40" (click)="null">Suivant <fa-icon icon="arrow-right"></fa-icon></button> puis <button (click)="null" class="btn btn-teal-40">Valider <fa-icon icon="check-circle"></fa-icon></button> sur la prochaine étape</li>
      <li>Vous pouvez visualiser vos choix en cliquant sur <button class="btn btn-teal-40" (click)="null">Votes ({{Auth.count_votes}}/10)</button></li>
    </ol>
    <form [formGroup]="search" class="mb-2">
      <label for="search">Recherche</label>
      <div class="input-group">
        <input class="form-control" (keydown)="$event.keyCode == 13 ? search_track($event.target.value): null" id="search" formControlName="terms" placeholder="Magic system...">
        <div class="input-group-prepend">
          <span class="input-group-text" (click)="search.reset(); tracks = null"><fa-icon icon="times"></fa-icon></span>
        </div>
      </div>
    </form>
    <div class="btn-group mb-2">
      <button class="btn btn-secondary" role="button" (click)="Auth.disconnect()"><fa-icon icon="arrow-left"></fa-icon> Déconnexion</button>
      <button class="btn btn-teal-40" role="button" routerLink="/collab/step2" matTooltipPosition="above" matTooltip="Merci de sélectionner au moins un titre" [matTooltipDisabled]="!!Auth.playlist_selected.length // si il n'y a rien dans playlist_selected" [disabled]="!Auth.playlist_selected.length">Suivant <fa-icon icon="arrow-right"></fa-icon></button>
    </div>
    <div class="alert alert-teal-30 mb-4 d-flex text-center" *ngIf="loading">
      <mat-spinner diameter="25"></mat-spinner><span class="pl-2"> Chargement...</span>
    </div>
    <div class="card bg-white text-gray-100 mb-4 text-center" *ngFor="let track of tracks">
      <div class="row card-body">
        <div class="col-lg-4">
          <img [src]="(track['album']['images']) ? track['album']['images'][(track['album']['images'].length >= 2) ? 1 : 0]['url'] : 'https://static.bdertgrenoble.fr/frontend/no-sp-imgs.png'" height="100px" width="100px" class="img-fluid" [alt]="track['album']['name']">
        </div>
        <div class="col-lg-4 pt-2">
          <h4 class="card-title">
            {{track['name']}}
          </h4>
          <p class="card-text pt-2">
            <span *ngFor="let artist of track['artists']; let i = index">
              {{((i > 0) ? ' ft. ' : "") +  artist['name']}}
            </span>
          </p>
        </div>
        <div class="col-lg-4 pt-lg-4 pt-2">
          <button *ngIf="find(track['id']) < 0" [disabled]="Auth.playlist_selected.length + Auth.count_votes >= 10" (click)="select({id : track['id'], name: track['name'], artist : track['artists'][0]['name']})" role="button" matTooltipPosition="above" matTooltip="Vous ne pouvez pas voter pour plus de 10 morceaux" [matTooltipDisabled]="Auth.count_votes + Auth.playlist_selected.length < 10"  class="btn btn-primary">Ajouter <fa-icon icon="plus-circle"></fa-icon></button>
          <button *ngIf="find(track['id']) >= 0" (click)="remove(track['id'])" role="button" class="btn btn-secondary">Retirer <fa-icon icon="minus-circle"></fa-icon></button>
        </div>
      </div>
    </div>

  <div class="table-responsive-lg">
    <table class="table">
      <thead>
      <tr *ngIf="tracks">
        <td colspan="2">
          <small class="mb-3">En cache depuis : {{(timestamp) ? Auth.format_date_heure(timestamp) : 'maintenant'}}</small>
        </td>
        <td>
          <a rel="noopener" class="text-teal-40 text-decoration-none link-neutral" href="https://spotify.com" target="_blank">
            <small>Via Spotify <fa-icon [icon]="['fab','spotify']"></fa-icon></small>
          </a>
        </td>
      </tr>
      <tr class="text-center bg-white">
        <th colspan="2">Sélection ({{Auth.playlist_selected.length}}/{{10 - Auth.count_votes}})</th>
        <th>Réinitialiser <fa-icon icon="recycle" (click)="Auth.playlist_selected = []"></fa-icon></th>
      </tr>
      </thead>
      <tbody class="bg-cool-gray-10">
      <tr *ngIf="!Auth.playlist_selected.length">
        <th colspan="3">Votre sélection est vide</th>
      </tr>
      <tr *ngFor="let track of Auth.playlist_selected">
        <td>{{track['name']}}</td>
        <td>{{track['artist']}}</td>
        <td><button *ngIf="find(track['id']) >= 0" (click)="remove(track['id'])" class="btn btn-secondary">Retirer <fa-icon icon="minus-circle"></fa-icon></button></td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
