<!--
  ~
  ~ bde-frontend
  ~ error.component.html
  ~
  ~ Created by Swano 7/4/19 1:54 AM
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->

<div class="container pt-1" *ngIf="Auth.error && Auth.error.success != true">
  <div class="alert alert-{{Auth.error.errorSeverity}}">
    <fa-icon icon="exclamation-circle"></fa-icon> {{Auth.error.errorContent}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" *ngIf="!Auth.error.critical" (click)="Auth.reset_error()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div *ngIf="!Auth.error.back">
      <hr>
      <a href="javascript:void(0)" (click)="Auth.go_back()"><fa-icon icon="arrow-left"></fa-icon> Retour</a>
    </div>
  </div>
</div>


