<!--
  ~
  ~ bde-frontend
  ~ reseaux.component.html
  ~
  ~ Created by Swano 20/08/2019 23:29
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->

<div *ngIf="only">
  <button class="btn btn-block btn-teal-30" routerLink="/playlists">Les playlists <fa-icon [icon]="['fab', 'spotify']"></fa-icon></button>
  <a rel="noopener" class="link-neutral text-decoration-none btn btn-block btn-instagram" href="https://www.instagram.com/bde.rt.grenoble" target="_blank">Instagram <fa-icon [icon]="['fab', 'instagram']"></fa-icon></a>
  <a rel="noopener" class="link-neutral text-decoration-none btn btn-block btn-facebook" href="https://www.facebook.com/bde.rt.grenoble" target="_blank">Facebook <fa-icon [icon]="['fab', 'facebook']"></fa-icon></a>
  <a rel="noopener" class="link-neutral text-decoration-none btn btn-block btn-messenger" href="https://m.me/bde.rt.grenoble" target="_blank">Messenger <fa-icon [icon]="['fab', 'facebook-messenger']"></fa-icon> <span class="badge badge-success">Actif</span></a>
  <a rel="noopener" class="link-neutral text-decoration-none btn btn-block btn-discord" href="https://cutt.ly/DiscordIUT1Grenoble" target="_blank">Discord R&T <fa-icon [icon]="['fab', 'discord']"></fa-icon></a>
</div>

<div *ngIf="!only">
  <div class="container-fluid pt-4 min-vh-100 bg-white">
    <div class="container">
      <div class="card bg-gray-80 text-white">
        <h3 class="card-header">Sur les réseaux <fa-icon icon="users"></fa-icon></h3>
        <div class="card-body">
          <p class="card-text">
            Pour ne rien rater de l'actualité du BDE, rejoignez-nous sur les réseaux !
          </p>
          <div>
            <button class="btn btn-block btn-teal-30" routerLink="/playlists">Les playlists <fa-icon [icon]="['fab', 'spotify']"></fa-icon></button>
            <a rel="noopener" class="link-neutral text-decoration-none btn btn-block btn-instagram" href="https://www.instagram.com/bde.rt.grenoble" target="_blank">Instagram <fa-icon [icon]="['fab', 'instagram']"></fa-icon></a>
            <a rel="noopener" class="link-neutral text-decoration-none btn btn-block btn-facebook" href="https://www.facebook.com/bde.rt.grenoble" target="_blank">Facebook <fa-icon [icon]="['fab', 'facebook']"></fa-icon></a>
            <a rel="noopener" class="link-neutral text-decoration-none btn btn-block btn-messenger" href="https://m.me/bde.rt.grenoble" target="_blank">Messenger <fa-icon [icon]="['fab', 'facebook-messenger']"></fa-icon> <span class="badge badge-success">Actif</span></a>
            <a rel="noopener" class="link-neutral text-decoration-none btn btn-block btn-discord" href="https://cutt.ly/DiscordIUT1Grenoble" target="_blank">Discord R&T <fa-icon [icon]="['fab', 'discord']"></fa-icon></a>
          </div>
        </div>
        <div class="card-footer">
          <button (click)="Auth.go_back()" class="btn btn-secondary"><fa-icon icon="arrow-left"></fa-icon> Retour</button>
        </div>
      </div>
    </div>
  </div>
</div>
