<!--
  ~
  ~ bde-frontend
  ~ summary-playlists.component.html
  ~
  ~ Created by Swano 24/08/2019 15:45
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->

<div class="container-fluid bg-cool-gray-10 p-5">
  <div class="container plex-sans">
    <h1>Les playlists <fa-icon [icon]="['fab', 'spotify']"></fa-icon></h1>
    <p>Vous n'avez pas eu le temps de shazamer ? Pas de panique les playlists sont dispo ici !</p>
    <button class="btn btn-teal-40" routerLink="/collab/login" *ngIf="!child">Participer <fa-icon icon="arrow-right"></fa-icon></button>
    <hr>
    <div class="alert alert-teal-30 mb-4 d-flex text-center" *ngIf="loading">
      <mat-spinner diameter="25"></mat-spinner><span class="pl-2"> Chargement...</span>
    </div>
    <p *ngIf="!playlists.length && !loading">Pas encore de playlist publiée :-/</p>
    <div class="card-columns" *ngIf="playlists.length && !loading">
      <div class="card" *ngFor="let playlist of playlists;">
        <img *ngIf="!playlist['images'].length" [alt]="playlist['name']" class="card-img-top img-fluid" src="https://static.bdertgrenoble.fr/frontend/no-sp-imgs.png">
        <img *ngIf="playlist['images'].length" [alt]="playlist['name']" class="card-img-top img-fluid" [src]="playlist['images'][0]['url']">
        <div class="card-body">
          <h3 class="card-title">{{playlist['name']}}</h3>
          <a class="btn btn-teal-40" [routerLink]="'/playlist/' + playlist['id']">Voir <fa-icon icon="arrow-right"></fa-icon></a>
        </div>
      </div>
    </div>
    <a rel="noopener" href="https://open.spotify.com/user/zcr52bip7qy5jb1hfu0b4pltq" *ngIf="playlists.length" target="_blank" class="btn text-white btn-teal-40 btn-block text-center text-decoration-none link-neutral">Toutes les playlists <fa-icon [icon]="['fab','spotify']"></fa-icon></a>
    <hr *ngIf="!child">
    <button *ngIf="!child" (click)="Auth.go_back()" class="btn btn-secondary"><fa-icon icon="arrow-left"></fa-icon> Retour</button>
    <br>
    <small class="text-muted" *ngIf="playlists.length">En cache depuis : {{(timestamp) ? Auth.format_date_heure(timestamp) : 'maintenant'}}</small>
  </div>
</div>
