<!--
  ~
  ~ bde-frontend
  ~ summary-playlist.component.html
  ~
  ~ Created by Swano 10/08/19 18:35
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->

<div class="alert alert-teal-30 mb-4 d-flex mt-3 container" *ngIf="!playlist && !Auth.error">
  <mat-spinner diameter="25"></mat-spinner><span class="pl-2"> Chargement...</span>
</div>
<div class="container-fluid bg-gray-100 p-5" *ngIf="playlist">
  <div class="container plex-sans">
    <div class="card bg-gray-90 text-white">
      <div class="card-header">
        <h3>{{playlist['name']}}</h3>
        <h5 [classList]="(playlist['description'] === 'null') ? 'font-italic' : ''">{{(playlist['description'] === 'null') ? 'Pas de description.' : playlist['description']}}</h5>
        <a class="btn link-neutral text-decoration-none btn-teal-30" [href]="playlist['external_urls']['spotify']" target="_blank">Voir sur Spotify <fa-icon [icon]="['fab','spotify']"></fa-icon></a>
      </div>
      <div class="card-body">
        <table class="table table-dark table-responsive-lg">
          <thead>
            <tr>
              <th>Titre</th>
              <th colspan="2">Artiste</th>
            </tr>
          </thead>
          <tbody *ngIf="playlist['tracks']['total']">
            <tr *ngFor="let track of playlist['tracks']['items'];">
              <td>{{track['track']['name']}}</td>
              <td>
                <span *ngFor="let artist of track['track']['artists']; let i = index">
                {{((i > 0) ? ' ft. ' : "") +  artist['name']}}
              </span>
              </td>
              <td>
                <a rel="noopener" class="btn text-white btn-teal-40 link-neutral text-decoration-none" [href]="'https://open.spotify.com/track/'+ track['track']['id']" target="_blank">Spotify <fa-icon [icon]="['fab','spotify']"></fa-icon></a>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="!playlist['tracks']['total']">
          <tr>
            <td colspan="3">Pas encore de morceaux dans la playlist</td>
          </tr>
          </tbody>
        </table>
        <small>En cache depuis : {{(timestamp) ? Auth.format_date_heure(timestamp) : 'maintenant'}}</small>
      </div>
      <div class="card-footer">
        <button (click)="Auth.go_back()" class="btn btn-secondary"><fa-icon icon="arrow-left"></fa-icon> Retour</button>
      </div>
    </div>
  </div>
</div>
