/*!
 *
 * bde-frontend
 * styles.scss
 *
 * Created by Swano 28/07/19 22:06
 *
 * Copyright (C) Baptiste PELLARIN - All Rights Reserved
 * 	Unauthorized copying of this file, via any medium is strictly prohibited
 * 	Proprietary and confidential
 * 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
 *
 */
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "assets/_ibm-colors.scss";
@import  url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans&display=swap');

.link-neutral, .link-neutral:visited, .link-neutral:focus {
  color: inherit;
  text-decoration: none;
}

.link-neutral:hover {
  color: inherit;
}

.size-next-event {
  height: 90vh;
}

$theme-colors: (
  "success": #24a249,
  "danger": #da1e28,
  "warning": #fdd13a,
  "alert": #3c3c3c,
  "gray-100": #171717,
  "gray-90": color('gray',90),
  "gray-80": color('gray',80),
  "gray-70": color('gray',70),
  "gray-50": color('gray',50),
  "gray-40": color('gray',40),
  "gray-10": color('gray',10),
  "primary": color('cerulean',50),
  "white" : #FFF,
  "teal-10" : color('teal',10),
  "teal-20" : color('teal',20),
  "teal-30" : color('teal',30),
  "teal-40" : color('teal',40),
  "facebook" : color('blue', 60),
  "instagram": color('magenta',60),
  "messenger" : color('cerulean',40),
  "hint" : #a4a4a4,
  "cool-gray-10" : #f2f4f8,
  "cool-gray-20" : #d5d9e0,
  "secondary": color('gray',60),
  "link-dark": color('gray',50),
  "link": color('blue',50),
  "discord":color('purple',60)
);

$body-color : color('gray',80);
$font-family-base : 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;

.plex-mono {
  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
}
.plex-sans{
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}
.border-alert {
  border-width:30px !important;
  border-style: solid;
  border-left: #00aa5e;
}
.expressive-heading-05{
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  size: 2.625rem;
  line-height: 3.125rem;
  letter-spacing: 0;
}

pre {
  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
}

.hackers {
  background-image: url("https://static.bdertgrenoble.fr/frontend/hackers/matrixwow.gif");
}

.productive-heading-05 {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0;
}
.border-nav {
  border-bottom: color('teal',30) solid 3px;
}

@import "~bootstrap/scss/bootstrap";
