<!--
  ~
  ~ bde-frontend
  ~ summary-votes.component.html
  ~
  ~ Created by Swano 28/07/19 17:22
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->

<div class="container-fluid bg-cool-gray-10">
  <app-stepper [back]="true" [nowarning]="true" step="3"></app-stepper>
  <div class="container pb-3">
    <button class="btn btn-secondary mb-2" role="button" *ngIf="Auth.count_votes >= 10" (click)="Auth.disconnect()"><fa-icon icon="arrow-left"></fa-icon> Déconnexion</button>
    <div class="alert alert-info mb-3" *ngIf="!Auth.count_votes">
      <h4>Aucun votes enregistrés.</h4>
    </div>
    <div class="card bg-white mb-3" *ngIf="Auth.count_votes">
      <h4 class="card-header">Votes ({{Auth.count_votes}}/10)</h4>
      <div class="alert alert-teal-30 m-4 d-flex " *ngIf="loading">
        <mat-spinner diameter="25"></mat-spinner><span class="pl-2"> Chargement...</span>
      </div>
    </div>
    <div *ngIf="!loading">
      <div class="card bg-white text-gray-100 mb-4 text-center" *ngFor="let track of tracks_list">
        <div class="row card-body">
          <div class="col-lg-4">
            <img [src]="(track['album']['images']) ? track['album']['images'][(track['album']['images'].length >= 2) ? 1 : 0]['url'] : 'https://static.bdertgrenoble.fr/frontend/no-sp-imgs.png'" height="100px" width="100px" class="img-fluid" [alt]="track['album']['name']">
          </div>
          <div class="col-lg-4 pt-2">
            <h4 class="card-title">
              {{track['name']}}
            </h4>
            <p class="card-text pt-2">
            <span *ngFor="let artist of track['artists']; let i = index">
              {{((i > 0) ? ' ft. ' : "") +  artist['name']}}
            </span>
            </p>
          </div>
          <div class="col-lg-4 pt-4">
            <div class="btn-group">
              <a rel="noopener" class="btn link-neutral text-white text-decoration-none btn-teal-30" [href]="'https://open.spotify.com/track/'+track['id']" target="_blank">Spotify <fa-icon [icon]="['fab', 'spotify']"></fa-icon></a>
              <button class="btn btn-danger" (click)="delete_vote(track['id'])">Retirer <fa-icon icon="minus-circle"></fa-icon></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
