<!--
  ~
  ~ bde-frontend
  ~ upcoming-events.component.html
  ~
  ~ Created by Swano 28/07/19 22:06
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->

<div class="container-fluid pt-1 mt-4 pb-4 bg-gray-90" *ngIf="Auth.upcoming_events.length > 1">
  <div class="container text-white">
    <h1 class="text-center expressive-heading-05">Prochains évènements</h1>
    <div class="table-responsive-lg">
      <table class="table table-dark">
        <thead>
        <tr>
          <th>Évènement</th>
          <th colspan="2">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr class="border-bottom-hint" *ngFor="let event of Auth.upcoming_events; let i = index">
          <td><a [routerLink]="'/event/'+event.id_event" class="link-neutral text-decoration-none">{{event.titre}}</a></td>
          <td class="link-neutral text-decoration-none">{{Auth.format_date_heure(event.date)}}</td>
          <td><button [routerLink]="'/event/'+event.id_event" class="btn btn-primary btn-block">Voir <fa-icon style="vertical-align: middle" icon="arrow-right"></fa-icon></button></td>
        </tr>
        </tbody>
      </table>
    </div>
    <hr>
    <button class="btn btn-secondary btn-block" [routerLink]="'/events'">Tous les évènements <fa-icon icon="arrow-right"></fa-icon></button>
  </div>
</div>
