<!--
  ~
  ~ bde-frontend
  ~ toolbar.component.html
  ~
  ~ Created by Swano 7/5/19 2:05 AM
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->

<mat-toolbar style="height: 40px;" class="bg-white border-nav">
  <button class="btn" role="button" aria-label="menu gauche" (click)="Auth.sidenav =! Auth.sidenav"><fa-icon [icon]="(Auth.sidenav) ? 'times' : 'bars'" size="1x"></fa-icon></button>
  <button mat-button routerLink="/">BDE RT Grenoble</button>
</mat-toolbar>

