<!--
  ~
  ~ bde-frontend
  ~ login.component.html
  ~
  ~ Created by Swano 28/07/19 22:06
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->

<div class="container-fluid bg-gray-100 p-5">
  <div class="container text-white plex-sans">
    <div class="card bg-gray-80">
      <h3 class="card-header">Contribuer à la playlist</h3>
      <div class="card-body">
        <h5 class="card-title">Pour contribuer il faut s'être préinscrit à l'évènement</h5>
        <form [formGroup]="login_form" (ngSubmit)="executeReCaptcha()" [noValidate]="false">
          <div class="form-group">
            <label for="id_inscrption">N° d'inscription</label>
            <input class="form-control" id="id_inscrption" formControlName="id_inscription" placeholder="Numéro communiqué à la pré-inscription">
          </div>
          <div class="form-group">
            <label for="no_etudiant">N° étudiant</label>
            <input class="form-control" id="no_etudiant" formControlName="no_etudiant" minlength="8" maxlength="8" placeholder="Votre numéro étudiant">
          </div>
          <div class="form-group btn-block" *ngIf="loading || Auth.error">
            <span [classList]="(Auth.error) ? 'btn btn-'+Auth.error.errorSeverity : 'btn btn-info'">
              {{(Auth.error) ? Auth.error.errorContent : 'Authentification en cours...'}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="Auth.reset_error()">
                <span aria-hidden="true">&times;</span>
              </button>
            </span>
          </div>
          <button class="btn btn-teal-30" type="submit" role="button">Connexion <fa-icon icon="arrow-right"></fa-icon></button>
          <hr>
          <button (click)="Auth.go_back()" type="button" class="btn btn-secondary"><fa-icon icon="arrow-left"></fa-icon> Retour</button>
        </form>
      </div>
    </div>
  </div>
  <re-captcha #captchaRef size="invisible" (resolved)="getReCaptchaResponse($event)"></re-captcha>
</div>
<app-summary-playlists [child]="true"></app-summary-playlists>
