<!--
  ~
  ~ bde-frontend
  ~ footer.component.html
  ~
  ~ Created by Swano 21/12/2019 18:20
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->

<footer class="bg-white pt-3 pb-3 position-static plex-mono">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2 mt-md-0 mt-3">
        <ul class="list-unstyled">
          <li class="h4 text-link"><a rel="noopener" href="https://www.instagram.com/bde.rt.grenoble" target="_blank"><fa-icon [icon]="['fab','instagram']"></fa-icon> Instagram</a></li>
          <li class="h4 text-link"><a rel="noopener" href="https://www.facebook.com/bde.rt.grenoble" target="_blank"><fa-icon [icon]="['fab','facebook']"></fa-icon> Facebook</a></li>
          <li class="h4 text-link"><a routerLink="/playlists"><fa-icon [icon]="['fab','spotify']"></fa-icon> Spotify</a></li>
          <li class="h4 text-link"><a href="javascript:void(0)" (click)="Auth.ask_push()"><fa-icon icon="paper-plane"></fa-icon> Push</a></li>
        </ul>
      </div>
      <div class="col-md-3 mt-md-0 mt-3">
        <fieldset class="border p-2">
          <legend>Citations de <i>l'élite</i>.<fa-icon (click)="Auth.get_citation()" icon="sync"></fa-icon></legend>
          <blockquote class="blockquote">
            <p class="mb-0">{{Auth.citation.citation}}</p>
            <footer class="blockquote-footer">{{Auth.citation.auteur}} - {{Auth.citation.date}}</footer>
          </blockquote>
        </fieldset>
      </div>
      <div class="col-md-3 mt-md-0 mt-3">
        <ul class="list-unstyled">
          <li>BDE RT Grenoble</li>
          <li>Tous droits réservés (c) 2019</li>
          <li><hr></li>
          <li><a class="text-link" href="https://static.bdertgrenoble.fr/frontend/registre_rgpd.pdf">Traitement des données (RGPD)</a></li>
          <li><a class="text-link" href="https://static.bdertgrenoble.fr/frontend/cgu_bdertgrenoble.pdf" target="_blank">Conditions générales d'utilisation (CGU)</a></li>
          <li><a class="text-link" [routerLink]="'/legal-notice'">Mentions légales</a></li>
          <li><a class="text-link" [routerLink]="'/licenses'">Licences</a></li>
        </ul>
      </div>
      <div class="col-md-2 mt-md-0 mt-3">
        <small (click)="dev =! dev; Auth.get_build_infos()">Stats for nerds <fa-icon icon="hand-point-left"></fa-icon></small>
        <ul class="list-unstyled text-info" *ngIf="dev">
          <li>Version : <code>R4</code></li>
          <li>Commit : <code>{{Auth.build_infos[0]}}</code></li>
          <li>Branch : <code>{{Auth.build_infos[1]}}</code></li>
          <li>Build Time : <code>{{Auth.format_horodatage(Auth.build_infos[2])}}</code></li>
          <li class="border-top"><a routerLink="/hackers">Hackers</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
