<!--
  ~
  ~ bde-frontend
  ~ next-event.component.html
  ~
  ~ Created by Swano 05/09/2019 20:55
  ~
  ~ Copyright (C) Baptiste PELLARIN - All Rights Reserved
  ~ 	Unauthorized copying of this file, via any medium is strictly prohibited
  ~ 	Proprietary and confidential
  ~ 	Written by Baptiste PELLARIN swano@swano-lab.net, 2019
  ~
  -->
<div class="container text-white">
  <div class="card bg-gray-90">
    <h1 class="card-header plex-sans">Prochain évènement</h1>
    <div class="card-body">
      <h2 class="card-title">{{Auth.upcoming_events[0]['titre']}}</h2>
      <h3 class="card-title">{{Auth.format_date_time_event(Auth.upcoming_events[0]['date'])}}</h3>
      <p class="card-text d-block text-truncate" [innerHTML]="Auth.upcoming_events[0]['description']"></p>
      <ul class="list-unstyled">
        <li>
          <button [routerLink]="'/event/'+Auth.upcoming_events[0]['id_event']" class="btn btn-primary btn-block">Je participe   <fa-icon icon="arrow-right"></fa-icon></button>
        </li>
        <li *ngIf="Auth.upcoming_events.length <= 1" class="mt-2">
          <button class="btn btn-secondary btn-block" routerLink="/events">Tous les évènements <fa-icon icon="arrow-right"></fa-icon></button>
        </li>
      </ul>
    </div>
  </div>
</div>

